html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.listContainer{
  width:520px;
  margin:auto;
  background: #ccc;
  padding:0px;

}
.formContainer{
  width:500px;
  margin:auto;
}
.itemList{
  display: flex;
  margin:auto;

}
li{
  width:500px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  border:1px solid white;
}
.complete{
  float: left;
  
}
.delete{

  text-align: right;
  
}